<section class="page-grid">
  <div class="about-hero center">
    <h1>About Us</h1>
    <p>At Milk Jar Cookies, we like to keep it simple. We bake homemade cookies and pair them with locally-sourced milk, ice cream, and coffee.</p>
  </div>

  <div class="about center">
    <div>
      <h3>About the owner</h3>
      <p>Mad Batter began as the dream of long-time cookie baker, Alice Cowan, who left her job as a TV Post Producer to pursue her dream of opening a cookie shop. With the support of her husband Adam Tuller, she left the entertainment industry behind to open her first brick and mortar Mad Batter shop in the spring of 2016.</p>
    </div>
    <hr class="border-hr">
    <div>
      <h3>About our store</h3>
      <p>Our cozy shop is located in NEW JERSEY. This is where we hand-roll every cookie and bake them in small batches from morning ’til night. Drop by, grab a warm cookie and a jar of cold milk; it’s our happy place, we hope it becomes yours too.</p>
    </div>
  </div>
</section>
