<section class="page-grid">
  <div class="contact-grid center">
    <h1>Cart</h1>
    <div>
        <p>You have no items in your shopping cart!</p>
        <a class="primary-btn" href="/catalog">SHOP NOW</a>
        <p style="height: 80px;"></p>
    </div>
</section>
