<div class="product-grid center">
<%PRODUCTS.each do |cookie| %>
  <div class="product-display">
    <img src=<%=cookie.images%>>
    <p><strong><%=cookie.name%></strong> &nbsp $<%=cookie.price%></p>
    <p><%=cookie.description%></p>
  </div>
  <%end%>
</div>
