<section class="page-grid">
  <div class="contact-grid center">
    <h1>Contact Us</h1>
    <div>
      <div class="contact-icons">
        <p> <img src="https://mbtskoudsalg.com/images/phone-icon-png-5.png"><br> <br>
          Phone <br>
          1(800)555-5555
        </p>
        <p> <img src="http://cdn.onlinewebfonts.com/svg/img_473983.png"><br> <br>
          Fax <br>
          (800)565-5655
        </p>
        <p> <img src="https://png.icons8.com/metro/1600/email.png"><br> <br>
          Email <br>
          service@madbatterbakery.com
        </p>
        <p> <img src="https://png.icons8.com/metro/1600/home.png"> <br> <br>
          Address <br>
          111 Somewhere Ave <br>
          Hoboken, NJ 07902
        </p>

      </div>
    </div>
</section>
