<section class="page-grid">

  <div class="hero center">
    <h1 class="hero-text">Mad Batter</h1>
  </div>

  <div class="product-grid center">
    <div class="product-display">
      <img src="https://hanslodge.com/images2/biscuit-clipart-cute-cookie/5cb6012a490f712819298d04f248aafd_download-cookie-free-png-transparent-image-and-clipart_400-402.png">
      <p><strong>COOKIES</strong></p>
      <p>From our oven to your tummy, our cookies are always fresh and hand-made with love.</p>
      <a href="/cookies" class="primary-btn">View More</a>
    </div>

    <div class="product-display">
      <img src="https://i.pinimg.com/originals/2c/63/fc/2c63fcdee5fdfa437ce79b135bc0e67d.png">
      <p><strong>CAKES</strong></p>
      <p>We craft our cakes with only the finest ingredients, premium specialty chocolates and exceptional liqueurs.</p>
      <a href="/cakes" class="primary-btn">View More</a>
    </div>

    <div class="product-display">
      <img src="http://images.clipartpanda.com/cupcake-clipart-Cupcake-clipart-on-clip-art-cupcake-and-mickey-cupcakes.png">
      <p><strong>MUFFINS</strong></p>
      <p>From our oven to your tummy, our muffins are baked and topped with natural ingredients every day.</p>
      <a href="/muffins" class="primary-btn">View More</a>
    </div>
  </div>

  <div class="email-catalog">
    <img src="https://images.unsplash.com/photo-1477040648049-a289a91626c1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80">
    <p>View our full selection of cakes, cookies, and muffins</p>
    <a href="/muffins" class="primary-btn">REQUEST CATALOG</a>
  </div>
</section>
