body{
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
h1{
  font-size: 3.3em;
}

.center {
  justify-content: center;
  text-align: center;
}

.navbar{
  background-color: #000000;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 1;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline;
  padding: 6px 23px;
}

.cart {
  width: 25px;
  height: 25px;
}

.logo{
  padding-left: 2%;
  padding-right: 2%;
  width: 65px;
  height: 65px;
}

.navbar li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: #ffffff;
}

.navbar li a:hover{
  color: #00d49d;
}

.page-grid{
  display: inline-grid;
  width: 100%;
  position: relative;
  z-index: 0;
  top: 0;
}

.hero{
  background-image: url("https://images.unsplash.com/photo-1526541912187-a49cbb412919?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"), linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
  background-blend-mode: overlay;
  background-size: cover;
  height: 600px;
}


.hero-text{
  font-size: 3.5em;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 18%;
}

footer{
  padding-top: 1%;
  background-color: #000000;
  bottom: 0;
}

.footer-grid {
  display: inline-grid;
  grid-template: auto / repeat(3, 30%);
  justify-content: center;
  width: 100%;
  grid-gap: 5px;
  bottom: 0;
}

.footer-nav ul {
  list-style-type: none;
}

.footer-nav li {
  display: inline;
  padding: 6px 23px;
}

.footer-nav li a {
  text-decoration: none;
  font-size: .9em;
  color: #ffffff;
}

.footer-nav li a:hover{
  color: #00d49d;
}

.social-icons {
  padding-top: 10px;
}
.social-icons img {
  width: 30px;
  height: 30px;
}

.mailinglist{
  color: #ffffff;
  font-size: .9em;
}

.mailinglist input{
  padding: 10px 15px;
}

.home-product {
  background-color: #f6f6f6;
  display: inline-grid;
  grid-template: auto / repeat(3, 30%);
  width: 100%;
  grid-gap: 3%;
}

.home-product img {
  height: 150px;
  width: auto;
}

.home-subproduct{
  margin: 15%;
}

.primary-btn{
  display:inline-block;
  position:relative;
  padding:10px 20px;
  border:2px solid #00d49d;
  color:#00d49d;
  font-size:1.1em;
  text-decoration:none;
  transition: color 0.4s
}
.primary-btn:after{
  content:" ";
  border:2px solid rgba(0,0,0,0);
  display:inline-block;
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  margin:auto;
  transition:all 0.4s;
}

.primary-btn:hover{
  color:#00d49d
}

.primary-btn:hover:after{
  border:2px solid #00d49d;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}


.catalog-email{
  width: 100%;
  background-color: #ffffff;
  display: grid;
  grid-template: auto / repeat(2, 50%);
}

.catalog-email div:nth-child(1){
  background-image: url("https://images.unsplash.com/photo-1477040648049-a289a91626c1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
  background-position: center;
}

.catalog-email div:nth-child(2){
  margin-top: 10%;
  margin-bottom: 10%;
}

.hidden{
  display: none;
}

.catalog-modal{
  position: fixed;
  z-index: 1;
  padding-top: 300px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.catalog-content{
  position: relative;
  background-color: #000000;
  margin: auto;
  padding: 0;
  border: 2px solid #888888;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 1s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    padding-right: 2%;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #00d49d;
    text-decoration: none;
    cursor: pointer;
}

.catalog-form{
  padding: 5% 5%;
  color: #ffffff;
  font-size: 1.2em;
}

.catalog-form input{
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
}

input[type=submit]{=
  width: 100%;
  padding: 9px 8px;
  background-color: #00d49d;
  border-radius: 3px;
  color: #ffffff;
  cursor: pointer;
}

input[type=submit]:hover {
  color: #ffffff;
  background-color: #04ba8b;
}

.cookies-hero{
  background-image: url("https://images.unsplash.com/photo-1531685932387-e60fae5f6163?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"),linear-gradient(rgba(255,255,255,0.2),rgba(0,0,0,0.2));
  background-blend-mode: overlay;
  background-position: center;
  height: 100px;
  color: #000000;
  padding: 12% 18% 14% 18%;
}

.cakes-hero{
  background-image: url("https://images.unsplash.com/photo-1542826438-bd32f43d626f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1456&q=80"),linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.3));
  background-blend-mode: overlay;
  background-position: center;
  height: 100px;
  color: #000000;
  padding: 12% 18% 14% 18%;
}

.muffins-hero{
  background-image: url("https://images.unsplash.com/photo-1474625342403-1b8a2c0f7215?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80"),linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.3));
  background-blend-mode: overlay;
  background-position: center;
  height: 100px;
  color: #000000;
  padding: 12% 18% 14% 18%;
}

.catalog-hero{
  background-image: url("https://images.unsplash.com/photo-1543060625-8ad3aa33a339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"),linear-gradient(rgba(0,0,0,0.3), rgba(255,255,255,0.4));
  background-blend-mode: overlay;
  background-position: center;
  height: 100px;
  color: #000000;
  padding: 12% 18% 14% 18%;
}

.catalog{
  padding-bottom: 10%;
  background-color: #f1f1f1;
}

.alert-box {
  padding-top: 200px;
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #000000;
  font-size: 1.5em;
  color: #ffffff;
}

.closebtn {
  padding-right: 3%;
  color: #ffffff;
  font-weight: bold;
  float: right;
  font-size: 1.6em;
  line-height: 20px;
  cursor: pointer;
  transition: 1s;
}

.closebtn:hover {
    color: #00d49d;
}

.product-grid{
  padding-top: 5%;
  padding-bottom: 9%;
  background-color: #f1f1f1;
  display: grid;
  grid-template: auto / repeat(3, 30%);
  position: relative;
  margin: 0;
  grid-gap: 2%;
}

.product-display{
  padding-top: 3%;
  padding-bottom: 3%;
  border-style: double;
  border-color: #09d49f;
}

.product-display img{
  width: 230px;
}

.product-description{
  position: fixed;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.5);
}

.description-modal{
  position: relative;
  background-color: #e5e5e5;
  margin: auto;
  width: 700px;
  height: 700px;
  top: 1%;
  bottom: 20%;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 2s;
}

@-webkit-keyframes animatebottom {
    from {bottom:-300px; opacity:1}
    to {bottom:0; opacity:1}
}

@keyframes animatebottom {
    from {bottom:-300px; opacity:1}
    to {bottom:0; opacity:1}
}

.modal-imgs{
  height: 470px;
  width: 470px !important;
}

.close_it {
  color: white;
  float: right;
  margin-right: 24%;
  font-size: 28px;
  font-weight: bold;
}

.close_it:hover,
.close_it:focus {
  color: #00d49d;
  text-decoration: none;
  cursor: pointer;
}

.about-hero{
  background-image: url("https://images.unsplash.com/photo-1543324402-c711a3d43289?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80"),linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5));
  background-blend-mode: overlay;
  background-position: 0 36%;
  height: 250px;
  color: #ffffff;
  padding: 12% 18% 14% 18%;
}

.about{
  display: grid;
  padding: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

.border-hr{
  border: 1px dotted #00d49d;
  width: 100%;
}

.contact-grid h2 {
  color: #00d49d;
}

.contact-grid{
  display: grid;
  grid-template: repeat(2, auto) / 50%;
  justify-content: center;
  width: 100%;
  padding-top: 10%;
  padding-bottom: 18%;
  grid-gap: 2px;
}

.contact-icons {
  display: inline-grid;
  grid-template: 200px / repeat(4, 33%);
  justify-content: center;
  width: 100%;
  grid-gap: 30px;
}

.contact-icons img {
  width: 100px;
  height: 100px;
}
