<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>2018 Mad Batter Catalog</title>
    <style>
    .center{
      text-align: center;
      justify-content: center;
    }
    .catalog{
      padding-top: 5%;
      padding-bottom: 5%;
      background-color: #f1f1f1;
      display: grid;
      grid-template: auto / repeat(3, 33%);
      position: relative;
      margin: 0;
      grid-gap: 2%;
    }
    .cat-grid{
      padding-top: 3%;
      padding-bottom: 3%;
      border-style: double;
      border-color: #09d49f;
    }
    .cat-grid img{
      width: 230px;
    }
    </style>
  </head>
  <body>
    <h1 class="center">2018 Mad Batter Catalog</h1>

    <div class="catalog center">
      <%PRODUCTS.each do |product| %>
      <div class="cat-grid">
        <img src=<%=product.images%>>
        <p><strong><%=product.name%></strong> &nbsp $<%=product.price%></p>
        <p><%=product.description%></p>
      </div>
      <%end%>
    </div>

  </body>
</html>
